:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-color: #2196f3;
  --line-color: #ffffff;
  --backbround-coloring: #e5e5e5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  font-family: Roboto;
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  list-style: none;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
  font-family: raleway;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 26px;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.tel {
  color: var(--tittle-text-color);
}
.tel:hover {
  color: var(--accent-color);
}
.mail {
  color: var(--tittle-text-color);
}
.mail:hover {
  color: var(--accent-color);
}
.contacts {
  color: var(--tittle-text-color);
}
.contacts:hover {
  color: var(--accent-color);
}
.site-nav:hover {
  color: var(--accent-color);
}
.site-nav {
  text-decoration: none;
  list-style: none;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--primary-text-color);
}
.stud {
  color: var(--primary-text-color);
}
.stud:hover {
  color: var(--accent-color);
}
.portfolio {
  color: var(--primary-text-color);
}
.portfolio:hover {
  color: var(--accent-color);
}
.contaction {
  color: var(--primary-text-color);
}
.contaction:hover {
  color: var(--accent-color);
}
.main-text {
  color: var(--line-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.button-first {
  background-color: var(--accent-color);
  color: var(--line-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.exempl {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.category {
  color: var(--tittle-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.button-second {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-second:hover {
  color: var(--accent-color);
}
.button-second:focus {
  color: var(--line-color);
  background-color: var(--accent-color);
}

.main-part {
  background-color: #2f303a;
  color: var(--line-color);
}

.informing {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.some-text {
  color: var(--tittle-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.work-part {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.member-first {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.who-is {
  color: var(--tittle-text-color);
  font-size: 16px;
  line-height: 19px;
}

.footer {
  background-color: #2f303a;
}
.adres-line {
  color: var(--line-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}
.studio-footter {
  color: var(--line-color);
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
}
